@charset "UTF-8";
.logo, #proyectos header .logo, #index #proyectos header .logo, #proyectos #index header .logo, #sobreMi #proyectos header .logo, #proyectos #sobreMi header .logo, #index #sobreMi #proyectos header .logo, #proyectos #index #sobreMi header .logo, #sobreMi #index #proyectos header .logo, #proyectos #sobreMi #index header .logo, #noticias #proyectos header .logo, #proyectos #noticias header .logo, #index #noticias #proyectos header .logo, #proyectos #index #noticias header .logo, #noticias #index #proyectos header .logo, #proyectos #noticias #index header .logo, #sobreMi #noticias #proyectos header .logo, #proyectos #sobreMi #noticias header .logo, #noticias #sobreMi #proyectos header .logo, #proyectos #noticias #sobreMi header .logo, #index #sobreMi #noticias #proyectos header .logo, #proyectos #index #sobreMi #noticias header .logo, #noticias #index #sobreMi #proyectos header .logo, #proyectos #noticias #index #sobreMi header .logo, #sobreMi #index #noticias #proyectos header .logo, #proyectos #sobreMi #index #noticias header .logo, #noticias #sobreMi #index #proyectos header .logo, #proyectos #noticias #sobreMi #index header .logo, #noticias header .logo, #noticias #proyectos header .logo, #proyectos #noticias header .logo, #noticias #index #proyectos header .logo, #index #proyectos #noticias header .logo, #noticias #proyectos #index header .logo, #proyectos #index #noticias header .logo, #noticias #sobreMi #proyectos header .logo, #sobreMi #proyectos #noticias header .logo, #noticias #proyectos #sobreMi header .logo, #proyectos #sobreMi #noticias header .logo, #noticias #index #sobreMi #proyectos header .logo, #index #sobreMi #proyectos #noticias header .logo, #noticias #proyectos #index #sobreMi header .logo, #proyectos #index #sobreMi #noticias header .logo, #noticias #sobreMi #index #proyectos header .logo, #sobreMi #index #proyectos #noticias header .logo, #noticias #proyectos #sobreMi #index header .logo, #proyectos #sobreMi #index #noticias header .logo, #noticias #proyectos header .logo, #proyectos #noticias header .logo, #index #noticias #proyectos header .logo, #proyectos #index #noticias header .logo, #noticias #index #proyectos header .logo, #proyectos #noticias #index header .logo, #sobreMi #noticias #proyectos header .logo, #proyectos #sobreMi #noticias header .logo, #noticias #sobreMi #proyectos header .logo, #proyectos #noticias #sobreMi header .logo, #index #sobreMi #noticias #proyectos header .logo, #proyectos #index #sobreMi #noticias header .logo, #noticias #index #sobreMi #proyectos header .logo, #proyectos #noticias #index #sobreMi header .logo, #sobreMi #index #noticias #proyectos header .logo, #proyectos #sobreMi #index #noticias header .logo, #noticias #sobreMi #index #proyectos header .logo, #proyectos #noticias #sobreMi #index header .logo, #sobreMi header .logo, #sobreMi #proyectos header .logo, #proyectos #sobreMi header .logo, #sobreMi #index #proyectos header .logo, #index #proyectos #sobreMi header .logo, #sobreMi #proyectos #index header .logo, #proyectos #index #sobreMi header .logo, #sobreMi #proyectos header .logo, #proyectos #sobreMi header .logo, #index #sobreMi #proyectos header .logo, #proyectos #index #sobreMi header .logo, #sobreMi #index #proyectos header .logo, #proyectos #sobreMi #index header .logo, #sobreMi #noticias #proyectos header .logo, #noticias #proyectos #sobreMi header .logo, #sobreMi #proyectos #noticias header .logo, #proyectos #noticias #sobreMi header .logo, #sobreMi #index #noticias #proyectos header .logo, #index #noticias #proyectos #sobreMi header .logo, #sobreMi #proyectos #index #noticias header .logo, #proyectos #index #noticias #sobreMi header .logo, #sobreMi #noticias #index #proyectos header .logo, #noticias #index #proyectos #sobreMi header .logo, #sobreMi #proyectos #noticias #index header .logo, #proyectos #noticias #index #sobreMi header .logo, #sobreMi #noticias #proyectos header .logo, #proyectos #sobreMi #noticias header .logo, #noticias #sobreMi #proyectos header .logo, #proyectos #noticias #sobreMi header .logo, #index #sobreMi #noticias #proyectos header .logo, #proyectos #index #sobreMi #noticias header .logo, #noticias #index #sobreMi #proyectos header .logo, #proyectos #noticias #index #sobreMi header .logo, #sobreMi #index #noticias #proyectos header .logo, #proyectos #sobreMi #index #noticias header .logo, #noticias #sobreMi #index #proyectos header .logo, #proyectos #noticias #sobreMi #index header .logo, #index header .logo, #index #proyectos header .logo, #proyectos #index header .logo, #index #proyectos header .logo, #proyectos #index header .logo, #index #sobreMi #proyectos header .logo, #sobreMi #proyectos #index header .logo, #index #proyectos #sobreMi header .logo, #proyectos #sobreMi #index header .logo, #index #sobreMi #proyectos header .logo, #proyectos #index #sobreMi header .logo, #sobreMi #index #proyectos header .logo, #proyectos #sobreMi #index header .logo, #index #noticias #proyectos header .logo, #noticias #proyectos #index header .logo, #index #proyectos #noticias header .logo, #proyectos #noticias #index header .logo, #index #noticias #proyectos header .logo, #proyectos #index #noticias header .logo, #noticias #index #proyectos header .logo, #proyectos #noticias #index header .logo, #index #sobreMi #noticias #proyectos header .logo, #sobreMi #noticias #proyectos #index header .logo, #index #proyectos #sobreMi #noticias header .logo, #proyectos #sobreMi #noticias #index header .logo, #index #noticias #sobreMi #proyectos header .logo, #noticias #sobreMi #proyectos #index header .logo, #index #proyectos #noticias #sobreMi header .logo, #proyectos #noticias #sobreMi #index header .logo, #index #sobreMi #noticias #proyectos header .logo, #proyectos #index #sobreMi #noticias header .logo, #noticias #index #sobreMi #proyectos header .logo, #proyectos #noticias #index #sobreMi header .logo, #sobreMi #index #noticias #proyectos header .logo, #proyectos #sobreMi #index #noticias header .logo, #noticias #sobreMi #index #proyectos header .logo, #proyectos #noticias #sobreMi #index header .logo {
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

footer, #noticias footer, #noticias #index footer, #index #noticias footer, #noticias #sobreMi footer, #sobreMi #noticias footer, #index #noticias #sobreMi footer, #noticias #sobreMi #index footer, #index #sobreMi #noticias footer, #sobreMi #noticias #index footer, #noticias #index #sobreMi footer, #sobreMi #index #noticias footer, #sobreMi #index #sobreMi #noticias footer, #noticias #sobreMi #index #sobreMi footer, #sobreMi #noticias #index #sobreMi footer, #sobreMi #index #noticias #sobreMi footer, #index #sobreMi #index #noticias footer, #noticias #index #sobreMi #index footer, #index #noticias #sobreMi #index footer, #index #sobreMi #noticias #index footer, #noticias #index #noticias footer, #index #noticias #index footer, #noticias #sobreMi #noticias footer, #sobreMi #noticias #sobreMi footer, #sobreMi footer, #sobreMi #noticias footer, #noticias #sobreMi footer, #sobreMi #noticias #index footer, #noticias #index #sobreMi footer, #sobreMi #index #noticias footer, #index #noticias #sobreMi footer, #noticias #sobreMi footer, #sobreMi #noticias footer, #index #noticias #sobreMi footer, #noticias #sobreMi #index footer, #index #sobreMi #noticias footer, #sobreMi #noticias #index footer, #noticias #index #sobreMi footer, #sobreMi #index #noticias footer, #sobreMi #index #sobreMi #noticias footer, #noticias #sobreMi #index #sobreMi footer, #sobreMi #noticias #index #sobreMi footer, #sobreMi #index #noticias #sobreMi footer, #index #sobreMi #index #noticias footer, #noticias #index #sobreMi #index footer, #index #noticias #sobreMi #index footer, #index #sobreMi #noticias #index footer, #sobreMi #noticias #index #noticias footer, #noticias #index #noticias #sobreMi footer, #sobreMi #index #noticias #index footer, #index #noticias #index #sobreMi footer, #noticias #sobreMi #noticias footer, #sobreMi #noticias #sobreMi footer, #sobreMi #index footer, #sobreMi #index #noticias footer, #noticias #sobreMi #index footer, #sobreMi #noticias #index footer, #noticias #sobreMi #index footer, #sobreMi #index #noticias footer, #noticias #sobreMi #index footer, #sobreMi #index #noticias footer, #sobreMi #noticias #index footer, #sobreMi #index #noticias #sobreMi footer, #noticias #sobreMi #index footer, #sobreMi #index #sobreMi #noticias footer, #sobreMi #noticias #index footer, #sobreMi #noticias #index #sobreMi footer, #noticias #sobreMi #index #sobreMi footer, #sobreMi #index #noticias footer, #sobreMi #index #sobreMi #noticias footer, #noticias #sobreMi #index #sobreMi footer, #sobreMi #noticias #index #sobreMi footer, #sobreMi #index #noticias #sobreMi footer, #index #sobreMi #index #noticias footer, #noticias #index #sobreMi #index footer, #index #noticias #sobreMi #index footer, #index #sobreMi #noticias #index footer, #sobreMi #noticias #index #noticias footer, #noticias #sobreMi #index #noticias footer, #sobreMi #index #noticias #index footer, #noticias #sobreMi #index #noticias footer, #noticias #sobreMi #noticias #index footer, #sobreMi #index #noticias #sobreMi footer, #sobreMi #noticias #sobreMi #index footer, #index #sobreMi footer, #index #sobreMi #noticias footer, #noticias #index #sobreMi footer, #noticias #index #sobreMi footer, #index #sobreMi #noticias footer, #index #noticias #sobreMi footer, #index #noticias #sobreMi footer, #noticias #index #sobreMi footer, #index #sobreMi #noticias footer, #index #noticias #sobreMi footer, #index #noticias #sobreMi #index footer, #noticias #index #sobreMi #index footer, #index #sobreMi #noticias footer, #index #sobreMi #noticias #index footer, #noticias #index #sobreMi footer, #index #sobreMi #index #noticias footer, #sobreMi #index #sobreMi #noticias footer, #noticias #sobreMi #index #sobreMi footer, #sobreMi #noticias #index #sobreMi footer, #sobreMi #index #noticias #sobreMi footer, #index #sobreMi #index #noticias footer, #noticias #index #sobreMi #index footer, #index #noticias #sobreMi #index footer, #index #sobreMi #noticias #index footer, #noticias #index #sobreMi #noticias footer, #noticias #index #noticias #sobreMi footer, #index #sobreMi #noticias #index footer, #index #noticias #index #sobreMi footer, #index #noticias #sobreMi #noticias footer, #noticias #index #sobreMi #noticias footer, #index #sobreMi #noticias #sobreMi footer, #index footer, #index #noticias footer, #noticias #index footer, #noticias #index footer, #index #noticias footer, #index #noticias #sobreMi footer, #noticias #sobreMi #index footer, #index #sobreMi #noticias footer, #sobreMi #noticias #index footer, #index #noticias #sobreMi footer, #noticias #sobreMi #index footer, #index #sobreMi #noticias footer, #sobreMi #noticias #index footer, #noticias #index #sobreMi footer, #sobreMi #index #noticias footer, #sobreMi #index #sobreMi #noticias footer, #noticias #sobreMi #index #sobreMi footer, #sobreMi #noticias #index #sobreMi footer, #sobreMi #index #noticias #sobreMi footer, #index #sobreMi #index #noticias footer, #noticias #index #sobreMi #index footer, #index #noticias #sobreMi #index footer, #index #sobreMi #noticias #index footer, #noticias #index #noticias footer, #index #noticias #index footer, #index #noticias #sobreMi #noticias footer, #noticias #sobreMi #noticias #index footer, #index #sobreMi #noticias #sobreMi footer, #sobreMi #noticias #sobreMi #index footer {
  grid-area: footer;
  background-color: rgb(158, 158, 158);
  grid-area: footer;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#index {
  height: 100%;
  margin: 0;
  background-color: #AAAAAA;
  overflow-y: hidden;
  display: grid;
  grid-template-areas: "header nav" "sectionB sectionB" "sectionA sectionA" "footer footer";
  /*VERSION DE TABLET*/
  /*VERSION DE ESCRITORIO*/
}
#index header {
  background-color: #AAAAAA;
  grid-area: header;
}
#index nav {
  grid-area: nav;
}
#index nav .boton-nav {
  height: 20px;
  width: 20px;
}
#index nav a {
  color: white;
  margin: 10px;
  font-size: "Montserrat";
}
#index nav a:hover {
  color: #202020;
}
#index .sectionA {
  background-color: #AAAAAA;
  grid-area: sectionA;
  margin: 10px auto 10px auto;
}
#index .sectionA .textoInicio {
  padding-left: 11px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 60px;
  color: white;
  border-left: solid 5px #202020;
  line-height: 40px;
}
#index .sectionA .textoInicio .tituloInicio {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
#index .sectionA .textoInicio .subtituloInicio {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 400;
}
#index .sectionB {
  background-color: #AAAAAA;
  grid-area: sectionB;
  text-align: center;
}
#index .sectionB .fondoInicio {
  height: 380px;
  margin: 0;
}
#index footer .logoFooter {
  height: 20px;
  margin-top: 4px;
}
#index footer .textoFooter {
  color: white;
  font-family: "Montserrat";
  margin-top: 5px;
  font-size: 12px;
}
@media (min-width: 768px) {
  #index {
    grid-template-areas: "header nav nav" "sectionA sectionB sectionB" "footer footer footer";
    /*imagen cuerpo*/
    /*texto cuerpo*/
  }
  #index nav {
    text-align: right;
    background-color: #AAAAAA;
  }
  #index .sectionB .fondoInicio {
    height: 500px;
  }
  #index .sectionA .textoInicio {
    margin-left: 50px;
    margin-top: 200px;
  }
  #index .sectionA .textoInicio .tituloInicio {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  #index .sectionA .textoInicio .subtituloInicio {
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 400;
  }
}
@media (min-width: 1024px) {
  #index {
    grid-template-areas: "header nav nav" "sectionA sectionB sectionB" "footer footer footer";
    /*imagen cuerpo*/
    /*texto cuerpo*/
    /*footer*/
    /*logo*/
  }
  #index .sectionB .fondoInicio {
    height: 600px;
    margin: 0;
  }
  #index .sectionA .textoInicio {
    margin-left: 130px;
    margin-top: 200px;
  }
  #index .sectionA .textoInicio .tituloInicio {
    font-size: 40px;
  }
  #index .sectionA .textoInicio .subtituloInicio {
    font-size: 25px;
  }
  #index footer .logoFooter {
    margin-top: 7px;
  }
  #index footer .textoFooter {
    margin-top: 1px;
  }
}

#sobreMi {
  height: 100%;
  margin: 0;
  background-color: #202020;
  overflow-y: auto;
  display: grid;
  grid-template-areas: "header nav" "sectionB sectionB" "sectionA sectionA" "footer footer";
}
#sobreMi header {
  background-color: #202020;
  /*isotipo*/
}
#sobreMi nav {
  grid-area: nav;
  background-color: #202020;
}
#sobreMi nav a {
  color: white;
  margin: 10px;
  font-size: "Montserrat";
}
#sobreMi nav a:hover {
  color: #AAAAAA;
}
#sobreMi nav .boton-nav {
  height: 20px;
  width: 20px;
}
#sobreMi .sectionA {
  background-color: #202020;
  grid-area: sectionA;
  margin: auto;
  /*texto cuerpo*/
}
#sobreMi .sectionA .textoInicio {
  padding-left: 11px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  border-left: solid 5px #202020;
  line-height: 60px;
}
#sobreMi .sectionA .textoInicio .tituloInicio {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 30px;
}
#sobreMi .sectionA .textoInicio .subtituloInicio {
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 20px;
  padding-right: 20px;
}
#sobreMi .sectionB {
  background-color: #202020;
  grid-area: sectionB;
  text-align: center;
  /*imagen cuerpo*/
}
#sobreMi .sectionB .fondoInicio {
  height: 320px;
  margin: auto;
}
#sobreMi footer, #sobreMi #noticias footer, #noticias #sobreMi footer, #sobreMi #noticias #index footer, #noticias #index #sobreMi footer, #sobreMi #index #noticias footer, #index #noticias #sobreMi footer, #noticias #sobreMi footer, #sobreMi #noticias footer, #index #noticias #sobreMi footer, #noticias #sobreMi #index footer, #index #sobreMi #noticias footer, #sobreMi #noticias #index footer, #noticias #index #sobreMi footer, #sobreMi #index #noticias footer, #sobreMi #index #sobreMi #noticias footer, #noticias #sobreMi #index #sobreMi footer, #sobreMi #noticias #index #sobreMi footer, #sobreMi #index #noticias #sobreMi footer, #index #sobreMi #index #noticias footer, #noticias #index #sobreMi #index footer, #index #noticias #sobreMi #index footer, #index #sobreMi #noticias #index footer, #sobreMi #noticias #index #noticias footer, #noticias #index #noticias #sobreMi footer, #sobreMi #index #noticias #index footer, #index #noticias #index #sobreMi footer, #noticias #sobreMi #noticias footer, #sobreMi #noticias #sobreMi footer, #sobreMi footer, #sobreMi #noticias footer, #noticias #sobreMi footer, #sobreMi #noticias #index footer, #noticias #index #sobreMi footer, #sobreMi #index #noticias footer, #index #noticias #sobreMi footer, #noticias #sobreMi footer, #sobreMi #noticias footer, #index #noticias #sobreMi footer, #noticias #sobreMi #index footer, #index #sobreMi #noticias footer, #sobreMi #noticias #index footer, #noticias #index #sobreMi footer, #sobreMi #index #noticias footer, #sobreMi #index #sobreMi #noticias footer, #noticias #sobreMi #index #sobreMi footer, #sobreMi #noticias #index #sobreMi footer, #sobreMi #index #noticias #sobreMi footer, #index #sobreMi #index #noticias footer, #noticias #index #sobreMi #index footer, #index #noticias #sobreMi #index footer, #index #sobreMi #noticias #index footer, #sobreMi #noticias #index #noticias footer, #noticias #index #noticias #sobreMi footer, #sobreMi #index #noticias #index footer, #index #noticias #index #sobreMi footer, #noticias #sobreMi #noticias footer, #sobreMi #noticias #sobreMi footer, #sobreMi #index footer, #sobreMi #index #noticias footer, #noticias #sobreMi #index footer, #sobreMi #noticias #index footer, #noticias #sobreMi #index footer, #sobreMi #index #noticias footer, #noticias #sobreMi #index footer, #sobreMi #index #noticias footer, #sobreMi #noticias #index footer, #sobreMi #index #noticias #sobreMi footer, #noticias #sobreMi #index footer, #sobreMi #index #sobreMi #noticias footer, #sobreMi #noticias #index footer, #sobreMi #noticias #index #sobreMi footer, #noticias #sobreMi #index #sobreMi footer, #sobreMi #index #noticias footer, #sobreMi #index #sobreMi #noticias footer, #noticias #sobreMi #index #sobreMi footer, #sobreMi #noticias #index #sobreMi footer, #sobreMi #index #noticias #sobreMi footer, #index #sobreMi #index #noticias footer, #noticias #index #sobreMi #index footer, #index #noticias #sobreMi #index footer, #index #sobreMi #noticias #index footer, #sobreMi #noticias #index #noticias footer, #noticias #sobreMi #index #noticias footer, #sobreMi #index #noticias #index footer, #noticias #sobreMi #index #noticias footer, #noticias #sobreMi #noticias #index footer, #sobreMi #index #noticias #sobreMi footer, #sobreMi #noticias #sobreMi #index footer, #index #sobreMi footer, #index #sobreMi #noticias footer, #noticias #index #sobreMi footer, #noticias #index #sobreMi footer, #index #sobreMi #noticias footer, #index #noticias #sobreMi footer, #index #noticias #sobreMi footer, #noticias #index #sobreMi footer, #index #sobreMi #noticias footer, #index #noticias #sobreMi footer, #index #noticias #sobreMi #index footer, #noticias #index #sobreMi #index footer, #index #sobreMi #noticias footer, #index #sobreMi #noticias #index footer, #noticias #index #sobreMi footer, #index #sobreMi #index #noticias footer, #sobreMi #index #sobreMi #noticias footer, #noticias #sobreMi #index #sobreMi footer, #sobreMi #noticias #index #sobreMi footer, #sobreMi #index #noticias #sobreMi footer, #index #sobreMi #index #noticias footer, #noticias #index #sobreMi #index footer, #index #noticias #sobreMi #index footer, #index #sobreMi #noticias #index footer, #noticias #index #sobreMi #noticias footer, #noticias #index #noticias #sobreMi footer, #index #sobreMi #noticias #index footer, #index #noticias #index #sobreMi footer, #index #noticias #sobreMi #noticias footer, #noticias #index #sobreMi #noticias footer, #index #sobreMi #noticias #sobreMi footer {
  position: relative;
  background-color: #2e2e2e;
  /*logo*/
  /*texto footer*/
}
#sobreMi footer .logoFooter {
  height: 20px;
  margin-top: 4px;
}
#sobreMi footer .textoFooter {
  color: white;
  font-family: "Montserrat";
  margin-top: 5px;
  font-size: 12px;
}
@media (min-width: 768px) {
  #sobreMi {
    grid-template-areas: "header nav nav" "sectionA sectionB sectionB" "footer footer footer";
    /*navegador*/
    /*seccionB*/
    /*seccionA*/
    /*footer*/
  }
  #sobreMi .navbar-toggle {
    color: white;
  }
  #sobreMi .sectionB .fondoInicio {
    height: 500px;
    margin-top: 70px;
    transform: translate(-5px);
  }
  #sobreMi .sectionA .textoInicio {
    margin-left: 50px;
    margin-top: 70px;
  }
  #sobreMi .sectionA .textoInicio .tituloInicio {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  #sobreMi .sectionA .textoInicio .subtituloInicio {
    font-size: 14px;
    line-height: 30px;
    padding-right: 50px;
  }
  #sobreMi footer .logoFooter {
    margin-top: 7px;
  }
  #sobreMi footer .textoFooter {
    margin-top: 1px;
  }
}
@media (min-width: 1024px) {
  #sobreMi {
    grid-template-areas: "header nav nav" "sectionA sectionB sectionB" "footer footer footer";
    /*seccionB*/
    /*seccionA*/
    /*footer*/
  }
  #sobreMi .sectionB .fondoInicio {
    height: 500px;
    transform: translate(-5px);
    margin-top: 40px;
  }
  #sobreMi .sectionA .textoInicio {
    margin-left: 80px;
    margin-top: 40px;
  }
  #sobreMi .sectionA .textoInicio .tituloInicio {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  #sobreMi .sectionA .textoInicio .subtituloInicio {
    font-size: 15px;
    line-height: 30px;
    padding-right: 100px;
  }
  #sobreMi footer .logoFooter {
    margin-top: 7px;
  }
  #sobreMi footer .textoFooter {
    margin-top: 1px;
  }
}

/*VERSION DE ESCRITORIO*/
#noticias {
  height: 100%;
  margin: 0;
  background-color: #AAAAAA;
  display: grid;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer";
  /*VERSION DE TABLET*/
  /*VERSION DE CELULAR*/
}
#noticias header {
  background-color: #AAAAAA;
  grid-area: header;
}
#noticias nav {
  grid-area: nav;
}
#noticias nav .nav-link {
  color: white;
  margin: 10px;
}
#noticias nav .boton-nav {
  height: 20px;
  width: 20px;
}
#noticias nav a:hover {
  color: #202020;
}
#noticias main {
  background-color: #AAAAAA;
  grid-area: main;
}
#noticias main .noticias1 {
  margin: 10px;
  /*display flex*/
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-evenly;
}
#noticias main .noticias1 figure {
  text-align: center;
  background-color: #e7e7e7;
  width: 350px;
  border-radius: 5px;
}
#noticias main .noticias1 figure img {
  border-radius: 5px 5px 0px 0px;
  width: 350px;
}
#noticias main .noticias1 figure figcaption {
  font-size: 17px;
  color: #202020;
  margin: 15px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
#noticias main .noticias1 figure p {
  font-size: 13px;
  color: #202020;
  font-weight: 400;
  text-align: left;
  font-family: "Montserrat";
}
#noticias main .noticias1 figure .button {
  font-size: 13px;
  color: #202020;
}
#noticias footer .logoFooter {
  height: 20px;
  margin-top: 7px;
}
#noticias footer .textoFooter {
  color: white;
  font-family: "Montserrat";
  margin-top: 1px;
  font-size: 12px;
}
@media (max-width: 1100px) {
  #noticias {
    display: grid;
    grid-template-areas: "header nav nav" "main main main" "footer footer footer";
    /*noticias*/
  }
  #noticias main .noticias1 {
    flex-direction: column;
    align-items: center;
  }
  #noticias main .noticias1 figure {
    width: 650px;
  }
  #noticias main .noticias1 figure img {
    width: 650px;
  }
  #noticias footer, #noticias #index footer, #index #noticias footer, #noticias #sobreMi footer, #sobreMi #noticias footer, #noticias footer {
    position: relative;
    margin-top: 30px;
  }
}
@media (max-width: 700px) {
  #noticias {
    display: grid;
    grid-template-areas: "header nav nav" "main main main" "footer footer footer";
    /*noticias*/
  }
  #noticias main .noticias1 figure {
    width: 350px;
  }
  #noticias main .noticias1 figure img {
    width: 350px;
  }
}

/*GRID AREA*/
/*ESCRITORIO*/
#proyectos {
  height: 100%;
  margin: 0;
  background-color: #202020;
  overflow-y: auto;
  display: grid;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer";
  /*VERSION DE TABLET*/
  /*VERSION DE CELULAR*/
}
#proyectos header {
  background-color: #202020;
  grid-area: header;
}
#proyectos nav {
  grid-area: nav;
  background-color: #202020;
}
#proyectos nav a {
  color: white;
  margin: 10px;
  font-size: "Montserrat";
}
#proyectos nav a:hover {
  color: #AAAAAA;
}
#proyectos nav .boton-nav {
  height: 20px;
  width: 20px;
}
#proyectos main {
  background-color: #202020;
  grid-area: main;
  /*diseño de logos*/
}
#proyectos main h1 {
  font-size: 25px;
  text-align: center;
  padding: 20px 0;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0;
  color: white;
}
#proyectos main .galeria1 {
  margin: 20px;
  /*display flex*/
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
}
#proyectos main .galeria1 figure {
  text-align: center;
}
#proyectos main .galeria1 figure img {
  border-radius: 5px;
  width: 250px;
  transition: transform 0.2s;
}
#proyectos main .galeria1 figure img:hover {
  transform: scale(1.5);
}
#proyectos main h2 {
  font-size: 25px;
  text-align: center;
  padding: 20px 0;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0;
  color: white;
}
#proyectos main .galeria2 {
  margin: 20px;
  /*display flex*/
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-evenly;
}
#proyectos main .galeria2 figure {
  text-align: center;
}
#proyectos main .galeria2 figure img {
  border-radius: 5px;
  width: 250px;
  transition: transform 0.2s;
}
#proyectos main .galeria2 figure img:hover {
  transform: scale(1.5);
}
#proyectos footer, #proyectos #index footer, #index #proyectos footer, #proyectos #sobreMi footer, #sobreMi #proyectos footer, #proyectos #noticias footer, #noticias #proyectos footer {
  background-color: #2e2e2e;
  grid-area: footer;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
#proyectos footer .logoFooter {
  height: 20px;
  margin-top: 7px;
}
#proyectos footer .textoFooter {
  color: white;
  font-family: "Montserrat";
  margin-top: 1px;
  font-size: 12px;
}
@media (max-width: 1100px) {
  #proyectos {
    grid-template-areas: "header nav nav" "main main main" "footer footer footer";
  }
  #proyectos main .galeria1 {
    flex-direction: column;
    align-items: center;
  }
  #proyectos main .galeria1 figure img {
    width: 400px;
  }
  #proyectos main .galeria2 {
    flex-direction: column;
    align-items: center;
  }
  #proyectos main .galeria2 figure img {
    width: 400px;
  }
}
@media (max-width: 600px) {
  #proyectos {
    grid-template-areas: "header nav nav" "main main main" "footer footer footer";
  }
  #proyectos main .galeria1 {
    flex-direction: column;
    align-items: center;
  }
  #proyectos main .galeria1 figure img {
    width: 280px;
  }
  #proyectos main .galeria2 {
    flex-direction: column;
    align-items: center;
  }
  #proyectos main .galeria2 figure img {
    width: 280px;
  }
}

#contacto {
  height: 100%;
  margin: 0;
  background-color: #202020;
  overflow-y: auto;
  display: grid;
  grid-template-areas: "header nav" "sectionA sectionA" "sectionB sectionB" "footer footer";
  /*VERSION DE TABLET*/
  /*VERSION DE ESCRITORIO*/
}
#contacto header {
  background-color: #202020;
  grid-area: header;
}
#contacto header .logo {
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}
#contacto nav {
  grid-area: nav;
  background-color: #202020;
}
#contacto nav a {
  color: white;
  margin: 10px;
  font-size: "Montserrat";
}
#contacto nav a:hover {
  color: #AAAAAA;
}
#contacto nav .boton-nav {
  height: 20px;
  width: 20px;
}
#contacto .sectionA {
  background-color: #202020;
  grid-area: sectionA;
  width: 400px;
  height: auto;
  margin: 30px auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 25px;
}
#contacto .sectionA h1 {
  font-size: 25px;
  text-align: letf;
  padding-bottom: 10px;
  color: #202020;
}
#contacto .sectionA p {
  font-size: 14px;
  color: #202020;
}
#contacto .sectionA p input {
  background-color: white;
  width: 348px;
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #202020;
  padding-left: 10px;
}
#contacto .sectionA p textarea {
  background-color: white;
  width: 348px;
  height: 100px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #202020;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
#contacto .sectionA .button-form {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  background-color: #202020;
  border-color: #202020;
  border-style: solid;
  border-radius: 10px;
  width: 350px;
  cursor: pointer;
}
#contacto .sectionA .button-form p {
  color: white;
  margin-top: 5px;
}
#contacto .sectionB {
  background-color: #202020;
  grid-area: sectionB;
  margin: 0px auto 20px auto;
}
#contacto .sectionB .textoContacto {
  margin-top: 40px;
  color: white;
  line-height: 50px;
}
#contacto .sectionB .textoContacto .titulo {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
#contacto .sectionB .textoContacto .subtitulo {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 400;
  margin-left: 35px;
  margin-top: -48px;
  text-decoration: none;
  color: white;
}
#contacto .sectionB .textoContacto .subtitulo a {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 400;
  margin-top: -48px;
  text-decoration: none;
  color: white;
}
#contacto footer, #contacto #index footer, #index #contacto footer, #contacto #sobreMi footer, #sobreMi #contacto footer, #contacto #noticias footer, #noticias #contacto footer {
  background-color: #2e2e2e;
  grid-area: footer;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
#contacto footer .logoFooter {
  height: 20px;
  margin-top: 4px;
}
#contacto footer .textoFooter {
  color: white;
  font-family: "Montserrat";
  margin-top: 5px;
  font-size: 12px;
}
@media (min-width: 768px) {
  #contacto {
    grid-template-areas: "header nav nav" "sectionA sectionB sectionB" "footer footer footer";
    /*footer*/
    /*navegador*/
  }
  #contacto footer, #contacto #index footer, #index #contacto footer, #contacto #sobreMi footer, #sobreMi #contacto footer, #contacto #noticias footer, #noticias #contacto footer {
    position: absolute;
  }
  #contacto footer .logoFooter {
    margin-top: 7px;
  }
  #contacto footer .textoFooter {
    margin-top: 1px;
  }
  #contacto .navbar-toggle {
    color: white;
  }
}
@media (min-width: 1024px) {
  #contacto {
    grid-template-areas: "header nav nav" "sectionA sectionB sectionB" "footer footer footer";
  }
  #contacto footer .logoFooter {
    margin-top: 7px;
  }
  #contacto footer .textoFooter {
    margin-top: 1px;
  }
}

/*# sourceMappingURL=main.css.map */
