body {
    height: 100%;
    margin:0;
    background-color: #202020;
    overflow-y: hidden;
} 



/*VERSION DE ESCRITORIO*/
    .contenedor{
        display: grid;
        grid-template-areas: 
        "header nav nav"
        "sectionA sectionA sectionA"
        "footer footer footer";
    }
    header {
        background-color: #202020;
    }
    
    
    nav{
        grid-area: nav;
               
    }
    
    
    .sectionA { 
        background-color: #202020;
        grid-area: sectionA;
    }
    
       
    footer {
        background-color: #202020;
        grid-area: footer;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    /*isotipo*/
    .logo {
        height: 40px; 
        margin-left: 40px;
        margin-top: 20px;
    }
    
    /*navegador*/
        
    .nav-link {
        color: white;
        margin: 10px;
    }

            
       
    /*texto cuerpo*/

    
    /*footer*/
    
    /*logo*/
    .logoFooter {
        height: 20px; 
        margin-top: 7px;
            
    }
    
    /*texto footer*/
    .textoFooter {
        color: white;
        font-family: 'Montserrat';
        margin-top: 1px;
        font-size: 12px;
    }

    }