#index {
    height: 100%;
    margin: 0;
    background-color: $principal-color;
    overflow-y: hidden;
    display: grid;
    grid-template-areas:
        "header nav"
        "sectionB sectionB"
        "sectionA sectionA"
        "footer footer";


    header {
        background-color: $principal-color;
        grid-area: header;

        .logo {
            @extend .logo
        }
    }

    nav {
        grid-area: nav;

        a {
            color: $second-color; 
            margin: 10px;
            font-size: $text-font;
        }
        
        a:hover{
            color:$third-color;
        }
    }

    .sectionA {
        background-color: $principal-color;
        grid-area: sectionA;
        margin: 10px auto 10px auto;

        .textoInicio {
            padding-left: 11px;
            margin-left: 20px;
            margin-top: 5px;
            margin-bottom: 60px;
            color: $second-color;
            border-left: solid 5px #202020;
            line-height: 40px;

            .tituloInicio {
                font-size: 30px;
                font-family: $title-font;
                font-weight: 600;
            }
            
            .subtituloInicio {
                font-size: 20px;
                font-family: $text-font;
                font-weight: 400;
            }
        }
    }

    .sectionB {
        background-color: $principal-color;
        grid-area: sectionB;
        text-align: center;

        .fondoInicio {
            height: 380px;
            margin: 0;
        }
    }

    footer {
        grid-area: footer;
        background-color: rgb(158, 158, 158);
        grid-area: footer;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
    
        .logoFooter {
            height: 20px;
            margin-top: 4px;
        }

        .textoFooter {
            color: $second-color;
            font-family: $text-font;
            margin-top: 5px;
            font-size: 12px;
        }
    }

    /*VERSION DE TABLET*/
    @include media (tablet) { 

        grid-template-areas:
            "header nav nav"
            "sectionA sectionB sectionB"
            "footer footer footer";
        

        nav {
            text-align: right;
            background-color: $principal-color;
        }
        
        /*imagen cuerpo*/
        .sectionB {
            .fondoInicio {
                height: 500px;
            }
        }    

        /*texto cuerpo*/
        .sectionA {
            .textoInicio {
                margin-left: 50px;
                margin-top: 200px;

                .tituloInicio { 
                    font-size: 30px;
                    font-family: $title-font;
                    font-weight: 600;
                }
            
                .subtituloInicio { 
                    font-size: 20px;
                    font-family: $text-font;
                    font-weight: 400;
                }
            }
        }
    }

    /*VERSION DE ESCRITORIO*/
    @include media (desktop) {
        grid-template-areas:
            "header nav nav"
            "sectionA sectionB sectionB"
            "footer footer footer";
        

        /*imagen cuerpo*/
        .sectionB {
            .fondoInicio {
                height: 600px;
                margin: 0;
            } 
        }    

        /*texto cuerpo*/
        .sectionA {
            .textoInicio {
                margin-left: 130px;
                margin-top: 200px;

                .tituloInicio {
                    font-size: 40px;
                } 
            
                .subtituloInicio {
                    font-size: 25px;
                }  
            } 
        } 

        /*footer*/
        /*logo*/
        footer {
            .logoFooter {
                margin-top: 7px;
            } 

            .textoFooter {
                margin-top: 1px;
            } 
        }
    }
}